body{
    margin:0;
    background:white;

}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }

#wrap{
    width:150px;
    height: 200px;
    position: relative;
    margin: 100px auto;

    -webkit-perspective: 3000px;
    -moz-perspective: 3000px;
    -ms-transform: perspective(3000px);
    -ms-perspective: 3000px;
}

#head{
    width: 100%;
    height: 100%;
    position: absolute;

    -webkit-transform-style: preserve-3d;
    -webkit-animation: donghua 15s linear 0s infinite;
    -moz-transform-style: preserve-3d;
    -moz-animation: 15s linear 0s infinite;
    -ms-transform-style: preserve-3d;
    -ms-animation: 15s linear 0s infinite;
}

#head div{
    position:absolute;
    top:0;
    left:0;
    width: 150px;
    height: 200px;
    border:1px solid black;
    text-align: center;
    line-height: 50px;
}

#head div:nth-child(1){
    -webkit-transform: rotateY(0deg) translateZ(400px);
    -moz-transform: rotateY(0deg) translateZ(400px);
    -ms-transform: rotateY(0deg) translateZ(400px);
    background: url("C:/Users/HP/Desktop/fun/me1.jpg");
    background-size: cover;
}

#head div:nth-child(2){
    -webkit-transform: rotateY(36deg) translateZ(500px);
    -moz-transform: rotateY(36deg) translateZ(500px);
    -ms-transform: rotateY(36deg) translateZ(500px);
    background: url("C:/Users/HP/Desktop/fun/me1.jpg");
    background-size: cover;
}

#head div:nth-child(3){

    -webkit-transform: rotateY(72deg) translateZ(400px);
    -moz-transform: rotateY(72deg) translateZ(400px);
    -ms-transform: rotateY(72deg) translateZ(400px);
    background: url("C:/Users/HP/Desktop/fun/me1.jpg");
    background-size: cover;
}

#head div:nth-child(4){

    -webkit-transform: rotateY(108deg) translateZ(500px);
    -moz-transform: rotateY(108deg) translateZ(500px);
    -ms-transform: rotateY(108deg) translateZ(500px);
    background: url("C:/Users/HP/Desktop/fun/me1.jpg");
    background-size: cover;
}

#head div:nth-child(5){

    -webkit-transform: rotateY(144deg) translateZ(400px);
    -moz-transform: rotateY(144deg) translateZ(400px);
    -ms-transform: rotateY(144deg) translateZ(400px);
    background: url("C:/Users/HP/Desktop/fun/me1.jpg");
    background-size: cover;
}

#head div:nth-child(6){

    -webkit-transform: rotateY(180deg) translateZ(500px);
    -moz-transform: rotateY(180deg) translateZ(500px);
    -ms-transform: rotateY(180deg) translateZ(500px);
    background: url("C:/Users/HP/Desktop/fun/me1.jpg");
    background-size: cover;
}

#head div:nth-child(7){

    -webkit-transform: rotateY(216deg) translateZ(400px);
    -moz-transform: rotateY(216deg) translateZ(400px);
    -ms-transform: rotateY(216deg) translateZ(400px);
    background: url("C:/Users/HP/Desktop/fun/me1.jpg");
    background-size: cover;
}

#head div:nth-child(8){
    -webkit-transform: rotateY(252deg) translateZ(500px);
    -moz-transform: rotateY(252deg) translateZ(500px);
    -ms-transform: rotateY(252deg) translateZ(500px);
    background: url("C:/Users/HP/Desktop/fun/me1.jpg");
    background-size: cover;
}

#head div:nth-child(9){
    -webkit-transform: rotateY(288deg) translateZ(400px);
    -moz-transform: rotateY(288deg) translateZ(400px);
    -ms-transform: rotateY(288deg) translateZ(400px);
    background: url("C:/Users/HP/Desktop/fun/me1.jpg");
    background-size: cover;
}

#head div:nth-child(10){
    -webkit-transform: rotateY(324deg) translateZ(500px);
    -moz-transform: rotateY(324deg) translateZ(500px);
    -ms-transform: rotateY(324deg) translateZ(500px);
    background: url("C:/Users/HP/Desktop/fun/me1.jpg");
    background-size: cover;
}

* {
    box-sizing: border-box;
  }
  .box { 
    width: 200px;
    height: 150px;
    background: #63a3e3;
    text-align: center;
  }
  
  .score {
    font-size: 48px;
    line-height: 88px;
    color: #fff;
  } 
  
  /* Create two unequal columns that floats next to each other */
  .column {
    display: table;
    float: left;
    padding: 10px;
  }
  .col{
    display: table-cell;
    padding: 16px;
  }
  .left {
    width: 50%;
  }
  
  .right {
    width: 50%;
  }
  .center{
      width: 100%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  p.tab{
    margin: 35px
}


@-webkit-keyframes donghua{
    0%{transform: rotateX(5deg) rotateY(360deg);}
    50%{transform: rotateX(-5deg) rotateY(180deg);}
    100%{transform: rotateX(5deg) rotateY(0deg);}
}
@-moz-keyframes donghua{
    0%{transform: rotateY(10deg) rotateY(0deg);}
    50%{transform: rotateY(-10deg) rotateY(180deg);}
    100%{transform: rotateY(10deg) rotateY(360deg);}
}
@-ms-keyframes donghua{
    0%{transform: rotateY(10deg) rotateY(0deg);}
    50%{transform: rotateY(-10deg) rotateY(180deg);}
    100%{transform: rotateY(10deg) rotateY(360deg);}
}