body{
    background: cadetblue;
    
}
.wrapper{
    widows: 200px;
    height: 200px;
    margin: 15% auto;

}
.cube{
    animation: animate 10s linear infinite;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.cube div{
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    position: center;
}
.cube .out_front{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: translateZ(100px);
}
.cube .out_back{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(90deg) translateZ(100px);
}
.cube .out_left{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}
.cube .out_right{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}
.cube .out_top{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}
.cube .out_bottom{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateX(-90deg) translateZ(100px);
}
@keyframes animate{

   0% { transform: rotate3d(1, 1, 1, 0deg); }
   50% { transform: rotate3d(1, 1, 1, 180deg); }
   100% { transform: rotate3d(1, 1, 1, 360deg); }
    
}